.box {
  border-style: solid;
  border-color: black;
  text-align: center;
  font-family: arial;
}

.outer-box {
  padding: 0px 0px 100px 0px;
  background-color: #006400;
}

.card-box {
  padding: 5px 5px 5px 5px;
  width: 220px;
  height: 300px;
}

.message-box {
  border-radius: 10%;
  margin: 10px 80px 10px 80px;
  padding: 0px 10px 25px 10px;
  border-width: 2px;
  background-color: LightYellow;
  width: auto;
}

h1 {
  font-size: 400%;
  color: White;
}

h2 {
  font-size: 350%;
}

h3 {
  font-size: 300%;
}

h4 {
  font-size: 250%;
}

.card-table {
  width: 100%;
  color: white;
}

input[type='checkbox'] {
    width:50px;
    height:50px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}

.drill-types label {
  color: White;
  font-size: 300%;
  margin-right: 25px;
}

.cards label {
  color: White;
}

.btn-deal {
  padding: 20px 150px 20px 150px;
  margin: 40px 0px 40px 0px;
  font-size: 400%;
  border-radius: 25px;
}

.btn-choice {
  padding: 35px 30px 35px 30px;
  margin: 30px 15px 30px 15px;
  font-size: 300%;
  border-radius: 15px;
}
