

.box {
  border-style: solid;
  border-color: black;
  text-align: center;
  font-family: arial;
}

.outer-box {
  border-width: 5px;
  /*border-radius: 10%;*/
  padding: 0px 5px 0px 5px;
  background-color: #006400;
  height: 1400px;
}

.card-box {
  /*background-color: rgb(204,255,255);*/
  padding: 5px 5px 5px 5px;
  /*margin: 0px 0px 5px 20px;*/
  /*border-radius: 15%;*/
  width: 220px;
  height: 300px;
}

.message-box {
  border-radius: 10%;
  margin: 5px 120px 5px 120px;
  padding: 5px 0px 5px 0px;
  border-width: 2px;
  background-color: LightYellow;
  width: auto;
}

h1 {
  font-size: 300%;
  color: White;
}

h3 {
  font-size: 200%;
}

h4 {
  /*font-size: 200%;*/
}

.btn-deal {
  padding: 20px 150px 20px 150px;
  margin: 10px 0px 25px 0px;
  font-size: 400%;
  border-radius: 25px;
}

.btn-choice {
  padding: 35px 25px 35px 25px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 300%;
  border-radius: 15px;
}
