table {
  width: 80%;
}

table, th, td {
  border: 1px solid black;
  /*border-collapse: collapse;*/
  text-align: center;
}

th {
  background-color: gray;
  color: white;
}

td {
  font-weight: bold;
  color: white;
}

th, td {
  padding: 5px;
  width: 5%;
}
